

.container3 {

    height: 50vh;
    width: 100vw;
    display: flex;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.aboutme {
    height: 50vh;
    width: 30vw;
  


}
.aboutme2 {
    height: 50vh;
    width: 70vw;
   

}

#center15 {
    height: 40vh;
    width: 25vw;
    margin-top: 40px;


}

.head7 {
    color: #9AD4D6;
    font-size: 4rem;
    font-family: "Baloo Bhai 2", sans-serif;


}
.para7{
    color:  #87B1D4;
    font-size: 2rem;
    word-spacing: 40px;
    margin-top: 20px;
}

/* media query */
@media only screen and (max-width:412px){
   
    .container3 {

        height: 30vh;
        width: 109vw;
        display: flex;
        text-align: center;
        background-color: rgb(255, 255, 255);
    }
    
    .aboutme {
        height: 30vh;
        width: 39vw;
      
    
    
    }
    .aboutme2 {
        height: 30vh;
        width: 70vw;
       
    
    }
    
    #center15 {
        height: 30vh;
        width: 39vw;
       
        margin-top: -1px;
    }
    
    .head7 {
        color: #9AD4D6;
        font-size: 2rem;
        font-family: "Baloo Bhai 2", sans-serif;
    
    
    }
    .para7{
        color:  #87B1D4;
        font-size: 1rem;
        word-spacing: 30px;
        margin-top: 20px;
    }
    
}
