* {
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-around;
  gap: 34px;
  background-color: #9AD4D6;
  font-family: "Baloo Bhai 2", sans-serif;
  width: 100vw;

}
ul {
  display: flex;
}
li {
  list-style: none;
  margin: 5px;
  padding: 5px;
  
}
ul a {
  text-decoration: none;
  
}
ul a li {
  color: white;
}
.red {
  background-color: #557786;
}
ul a:hover{
  background-color:#557786 ;
}

 ul{
  gap: 40px;
 }

.link1{
  text-align: center;
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  font-weight: 60;
  color: white;
}
.link1:hover{
cursor: pointer;
}

.header{
  margin: 5px;
  padding: 7px;
  padding-top: 8px;
  background-color: rgb(79, 165, 245);
  color: white;
 
  
}
   
 


/* MEDIA QUERY */
@media only screen and (max-width:480px){
  nav{
   
  background-color: #9AD4D6;
  height: 40px;
  gap: 0px;
  }
  .header{
    font-size: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: blue;
  }
 
  .link1{
    text-align: center;
   
  }
  #set1 {
    margin: 5px;
   padding: 5px 10px 10px 10px;
    
  }
  #set2 {
    margin: 5px;
    padding: 5px 10px 10px 10px;
  }
 
  #set4 {
    margin: 5px;
    padding: 5px 10px 10px 10px;
  }

  
}